﻿
@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br/><br/>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoEhjU7Hn1ObUcY6Yc0b8kzvIZPCHUPIK5dg&s" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your order has been placed successfully! <br/>
    </div>

</div> 
